{% extends "default.html" %}
{% block layout_content %}
<!-- Services-->
<section class="page-section" id="services">
   <div class="container">
      <div class="text-center">
         <h2 class="section-heading text-uppercase">Services</h2>
         <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row text-center">
         {% for item in  services_list%}
         <div class="col-md-4">
            <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{item.css_class}}"></i>
            </span>
            <h4 class="my-3">{{item.name}}</h4>
            <p class="text-muted">{{item.description}}</p>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
   <div class="container">
      <div class="text-center">
         <h2 class="section-heading text-uppercase">Portfolio</h2>
         <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row">
         {% for item in portfolio_list%}
         <div class="col-lg-4 col-sm-6 mb-4">
            <!-- Portfolio item 1-->
            <div class="portfolio-item">
               <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                  <div class="portfolio-hover">
                     <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="../static{{item.img_url}}" alt="..." />
               </a>
               <div class="portfolio-caption">
                  <div class="portfolio-caption-heading">{{item.name}}</div>
                  <div class="portfolio-caption-subheading text-muted">{{item.description}}</div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
<!-- About-->
<section class="page-section" id="about">
   <div class="container">
      <div class="text-center">
         <h2 class="section-heading text-uppercase">About</h2>
         <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <ul class="timeline">
         {% for item in company_history%}
         <li {%if item.id|divisibleby:'2' %}  class="timeline-inverted" {% endif %}>
         <div class="timeline-image"><img class="rounded-circle img-fluid" src="../static{{item.img_url}}" alt="..." /></div>
         <div class="timeline-panel">
            <div class="timeline-heading">
               <h4>{{  item.date }}</h4>
               <h4 class="subheading"> {{item.name}}    </h4>
            </div>
            <div class="timeline-body">
               <p class="text-muted">   {{item.description}}</p>
            </div>
         </div>
         </li>
         {% endfor %}
      </ul>
   </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
   <div class="container">
      <div class="text-center">
         <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
         <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <div class="row">
         {% for item in team_list%}
         <div class="col-lg-4">
            <div class="team-member">
               <img class="mx-auto rounded-circle" src="../static{{item.img_url}}  " alt="..." />
               <h4>{{item.name}}  </h4>
               <p class="text-muted">  {{item.title}}  </p>
               <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
               <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
               <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
         </div>
         {% endfor %}
      </div>
      <div class="row">
         <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}